<div class="media-body">
  <h2 class="lead"> <%= markdown @wiki.title %></h2>
  <h3><%= markdown @wiki.body%></h3>
  <small>Created By: <%= @wiki.user.name %></small>
  <div class="span3"><br>
  <% if current_user %>
  <% if @wiki.user == @user || (@wiki.collaborators.pluck("user_id").include? @user.id )%>
<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <%= link_to "Delete Wiki", @wiki, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %>
    <%= link_to "Share", new_wiki_collaborator_path(@wiki), class: 'btn btn-warning' %>
  <%end%>
  <%end%>
  </div>
</div>

